<% if @user %>
	<%= render layout: "two_column", locals: {user: @user} do %>
		<h2><%= @user.name %> は <%= @user.followers.length %> 人にフォローされています。</h2>
		<%= render partial: "notice", locals: {notice: notice} %>
		<% if @user.followers.length > 0 %>
		<div class="users bordered-list striped">
			<%= render @user.followers %>
		</div>
		<% else %>
		<p>あなたをフォローしている人がいません。</p>
		<% end %>
	<% end %>
<% else %>
<p>該当ユーザが存在しません。</p>
<% end %>
