<% if logged_in? %>
	<%= render layout: "two_column", locals: {user: @current_user} do %>
		<%= render "tweets/form" %>
		<%= render partial: "notice", locals: {notice: notice} %>
		<h2>ホーム</h2>
		<div class="tweets bordered-list">
			<%= render @tweets %>
		</div>
		<%= paginate @tweets %>
	<% end %>
<% else %>
未ログイン
<% end %>
