<% if @query %>
<h2>「<%= @query %>」の検索結果：</h2>
<% else %>
<h2><i class="icon-search"></i> 友達を見つけて、フォローしましょう！</h2>
<p>ついもどきに登録済みの友達を検索出来ます。</p>
<% end %>

<%= form_tag(nil, method: :get) do %>
	<% unless @query %>
	<%= label :q, "誰を検索しますか？" %>
	<% end %>
	<div class="input-append">
		<%= text_field_tag :q, @query %>
		<button class="btn">検索</button>
	</div>
	<p class="help-block">ユーザ名や名前で検索</p>
<% end %>

<%= render partial: "notice", locals: {notice: notice} %>

<% if @results and @results.length > 0 %>
<div class="users bordered-list striped">
	<%= render @results %>
</div>
<%= paginate @results %>
<% elsif @results %>
<div class="alert alert-error alert-block">
	<p>対象のユーザは見つかりません。</p>
</div>
<% end %>

