<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<h1><a href="<%= root_path %>" class="brand">
				<i class="icon-twitter"></i>
				<%= image_tag "logo.png", alt: "Twimodoki" %>
			</a></h1>
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<div class="nav-collapse collapse">
				<ul class="nav pull-right" data-toggle="collapse" data-target=".nav-collapse">
					<li><%= link_to "ホーム", root_path %></li>
					<% if logged_in? %>
					<li><%= link_to "友だちを検索", pages_search_path %></li>
					<li><%= link_to "ログアウト", logout_path %></li>
					<% else %>
					<li><%= link_to "ユーザ登録", new_user_path %></li>
					<li><%= link_to "ログイン", login_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
