<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="ja" class="ie ie6"><![endif]--> 
<!--[if IE 7 ]><html lang="ja" class="ie ie7"><![endif]--> 
<!--[if IE 8 ]><html lang="ja" class="ie ie8"><![endif]--> 
<!--[if IE 9 ]><html lang="ja" class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ja"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
	  <title>Twimodoki</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="<%= "#{controller_name} #{controller_name}-#{action_name}" %>">
		<div id="container">
			<div id="container-inner">
				<header>
					<%= render "layouts/header" %>
				</header>
				<div id="main" class="container">
					<div id="main-inner">
						<%= yield %>
					</div>
				</div>
				<footer class="container">
					<small>&copy; 2013 twimodoki - developped by shin &lt;s2pch.luck@gmail.com&gt;</small>
				</footer>
			</div>
		</div>
	</body>
</html>
